<html lang="en" xmlns:th="http://www.thymeleaf.org"><html>
<head>
    <title>Title</title>
</head>
<body>

<form method="post" action="/edit">

    <input name="id" th:value="${nhanvienshow.id}" readonly>
    <br>
    <input name="name" th:value="${nhanvienshow.name}">
    <br>
    <input name="age" th:value="${nhanvienshow.age}">
    <br>
    <input name="address" th:value="${nhanvienshow.address}">
    <br>
    <input name="phone" th:value="${nhanvienshow.phone}">
    <br>

    <button type="submit">Submit</button>
</form>
</body>
</html>