<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Title</title>
</head>
<body>
<h1>QUAN LY NHAN VIEN</h1>
<button><a href="/create">Create</a></button>
<table border="1">
        <tr th:each="p : ${nhanvienshow}">
            <td th:text="${p.id}" height="50px" width="50px"></td>
            <td th:text="${p.name}" height="50px" width="200px"></td>
            <td th:text="${p.age}"  height="50px" width="100px"></td>
            <td th:text="${p.address}"  height="50px" width="200px"></td>
            <td th:text="${p.phone}"  height="50px" width="300px"></td>

            <td><a type="button" class="btn btn-warning" th:href="@{/edit(id=${p.id})}">Edit</a></td>
            <td><a type="button" class="btn btn-warning" th:href="@{/delete/{id} (id =${p.id})}">Delete</a></td>

        </tr>

</table>
</body>
</html>